/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.img-log{
	width:20%;
	position: relative;
	left: 40%!important;
	/* text-align:center */
}
.color-input {
	color:white!important	;
	border-bottom-color: white!important	;
	
}
.input-field-perso {
	width: 100%!important;
}
.color-black{
	color:black;
}
 
.container-transparent{
	background: #ffffffd6;
	border-radius: 20px 20px;
	margin-top: 	8%;
	float: right;
	MARGIN-BOTTOM: 1%;
	padding: 1%;
	width:60%;
	margin-right:1%!important
	/* padding-top: 200PX; */
	/* height: 40%; */
	/* text-align: left!important; */;
}
 
.e-color-green{
	color:green!important;
}
 
nav ul a,
nav .brand-logo {
  color: #fff;
}
.logo {
  width: 65px;
  padding: 3px;
  top:10px!important
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
